// Константи для llvm-rc (немає windows.h)
#ifndef VS_FFI_FILEFLAGSMASK
#define VS_FFI_FILEFLAGSMASK    0x0000003F
#endif
#ifndef VOS_NT_WINDOWS32
#define VOS_NT_WINDOWS32        0x00040004
#endif
#ifndef VFT_APP
#define VFT_APP                 0x00000001
#endif
#ifndef VFT2_UNKNOWN
#define VFT2_UNKNOWN            0x00000000
#endif

#include "Resource.hpp"

IDI_MAIN_ICON       ICON    "icon.ico"
IDI_SMALL_ICON      ICON    "icon_small.ico"

1 VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", RES_COMPANY_NAME
            VALUE "FileDescription", RES_PRODUCT_NAME
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", RES_INTERNAL_NAME
            VALUE "LegalCopyright", RES_COPYRIGHT
            VALUE "OriginalFilename", RES_ORIGINAL_NAME
            VALUE "ProductName", RES_PRODUCT_NAME
            VALUE "ProductVersion", VER_FILEVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END